<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.png" %>
    </div>
    <div id="content">
        <h1>Avatar</h1>
        <p>You probably haven't heard of them mustache swag yr forage polaroid kinfolk salvia food truck XOXO jianbing taxidermy. Asymmetrical selvage green juice, air plant mlkshk chartreuse cloud bread jianbing austin readymade hashtag beard. YOLO etsy meggings fam kickstarter green juice selfies. Lyft snackwave distillery semiotics hashtag kombucha narwhal copper mug pork belly aesthetic. Dreamcatcher letterpress poutine microdosing cardigan woke.</p>
    </div>
</div>